	body {
		width: 900px;
		background: #ddd;
		color: #222;
		font-family: 'Roboto Slab', georgia, serif;
		font-size: 16px;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.6;
	}
}

html {
	overflow-y: scroll;
}

*:focus {
	outline: none;
}

header {
	height: 100px;
	color: #ccc;
}

header .signature img {
	margin-top: 20px;
	float: left;
	height: 50px;
	float: left;
}

header ul.navigation {
	float: right;
	display: block;
	margin-top: 35px;
}

header ul.navigation li {
	display: inline-block;
	list-style: none;
	margin-left: 10px;
	list-style: none;
}

header ul.navigation li a {
	color: #666;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Roboto Condensed', 'Roboto';
	text-transform: uppercase;
	text-rendering: geometricPrecision;
}

header ul.navigation li a.active {
	color: black;
}

header .i18n {
	float: right;
}

footer {
	margin-top: 30px;
	color: #666;
	font-size: 14px;
	text-align: center;
	color: #666;
	margin-bottom: 30px;
}

.container {
	background: #fff;
	/* very important... this makes the height auto, the height: auto DO NOT do the magic */
	float: left;
	min-height: 500px;
	height: auto;
	width: 100%;
}

.container .items {
	position: relative;
}

.container .items a {
	padding-top: 60px;
	padding-bottom: 60px;
	width: 355px;
	text-decoration: none;
}

.container .items a:hover {
	color: black;
	background-color: #9bfad0;
	text-decoration: none;
}

.container .items a:nth-child(odd) {
	padding-left: 60px;
	padding-right: 20px;
	float: left;
}

.container .items a:nth-child(even) {
	padding-left: 40px;
	padding-right: 50px;
	float: right;
}

.container .items a span {
	display: block;
}

.container .items a .title {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #222;
	text-transform: uppercase;
}

.container .items a .date {
	color: #999;
	font-style: italic;
	font-weight: 300;
}

.container .items a .content {
	padding-top: 20px;
	color: #222;
	font-weight: 300;
}

.clearfix {
	clear: both;
}

/* DETAIL PAGE */
.container .detail-container {
	margin: 80px;
}

.container .title {
	font-size: 45px;
}

.container .detail-container .detail-date {
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-left: none;
	border-right: none;
	padding: 8px 0px 8px 50px;
	margin: 30px 0px 40px -50px;
	width: 100px;
	color: #ccc;
}

.container .detail-container .detail-content img {
	max-width: 100%;
}

.container .detail-container .detail-content .content-text {
	margin-top: 30px;
}

/* ARCHIVE PAGE */
.archive-container {
	margin: 80px;
}

.archive-container input {
	width: 70%;
	border: 2px solid #ddd;
	border-radius: 90px;
	height: 30px;
	padding: 3px;
	padding-left: 15px;
	font-size: inherit;
}

.archive-container input:focus {
	border: 2px solid #29f;
	border-radius: 90px;
}

.archive-container .archive-icon {
	float: right;
	margin-top: -15px;
}

.archive-container .archive-icon img {
	width: 64px;
	height: 64px;
}

.archive-container .archive-post {
	margin-left: -20px;
}

.archive-container .archive-post ul {
	display: block;
	margin-top: 30px;
}

.archive-container .archive-post ul li {
	margin-top: 10px;
}

.container a:link, a:active {
	color: #29f;
	text-decoration: none;
}

.container a:visited {
	color: #7e5494;
}

.container a:hover {
	text-decoration: underline;
}

/* ABOUT ME PAGE */
.about-container {
	margin: 80px;
}

.about-container .bio {
	margin-top: 15px;
	float: left;
	width: 49%;
	float: left;
}

.about-container .bio .main-bio {
	font-style: italic;
	font-weight: 500;
}

.about-container .bio .sub-bio {
	margin-top: 15px;
}

.about-container .bio .quote-left {
	float: left;
	font-size: 50px;
	margin-top: -20px;
}

.about-container .bio .quote-right {
	font-size: 50px;
	float: right;
}

.about-container .profile {
	float: left;
	text-align: right;
	margin-left: 1%;
	width: 50%;
}

.about-container .profile img {
	width: 80%;
}

.about-container .elsewhere {
	
}

.about-container .elsewhere ul {
	display: block;
	margin-left: -20px;
}

.about-container .facebook {
	margin-top: 50px;
	height: 50px;
}

.about-container .facebook div {
	float: left;
}

.about-container .facebook img {
	vertical-align: middle;
	width: 30%;
}

.about-container .facebook .facebook-text {
	margin-left: -35px;
	margin-top: -5px;
	font-size: 22px;
}

.about-container .facebook .facebook-text a {
	color: #000;
}

/* ADMIN SECTION */
/* ENTRY PAGE */
.entry-container {
	margin: 80px;
}

.container table {
	width: 100%;
	font-size: 14px;
	text-rendering: geometricPrecision;
}

.container table label {
	font-weight: 500;
}

.container table td {
	padding: 5px 0px 5px 0px;
}

.container table textarea {
	height: 100px;
}

.entry-list-container tr:nth-child(even) {
	background: #e6e6e6;
}

.entry-list-container table {
	border-collapse: collapse;
}

.entry-list-container table td:first-child {
	padding-left: 7px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.container table td .button {
	width: 90px;
	height: 25px;
}

.container table td input {
	height: 25px;
	font-size: 14px;
	width: 300px;
	padding-left: 7px;
	font-family: 'Roboto Slab', georgia, serif;
}

.container table td input:focus, textarea:focus {
	border: 2px solid #29f;
}

/* TinyMCE override */
.mce-btn button {
	font-size: 12px !important;
}

.mce-ico {
	font-size: 14px !important;
}

/* LOGIN PAGE */
.login-container {
	margin: 80px;
}

.error {
	color: red;
}

/* ENTRY LIST PAGE */
.entry-list-container {
	margin: 80px;
}

/* SUB-HEADER */
.sub-header {
	padding: 20px;
}

.sub-header .breadcrumb {
	float: left;
}

.sub-header .welcome {
	text-align: center;
	float: right;
}

/* CONTACT PAGE */
.contact-container {
	margin: 80px;
}

.contact-container textarea {
	resize: none;
}